<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>10.按鍵修飾符</title>
    <script src="../../0.js/vue.js"></script>
</head>
<body>
    <!-- 在做專案中有時會用到鍵盤事件，在監聽鍵盤事件時，我們經常需要檢查詳細的按鍵。Vue 允許為 v-on 在監 聽鍵盤事件時添加按鍵修飾符 -->
    <div id="app">
        <div>UserName：<input type="text" v-model="uname" @keyup.enter="handleEnter" @keyup.delete="handleDelete" name="UserName" id="UserName"></div>
        <div>Password：<input type="text" v-model="pwd" @keyup.enter="handleEnter" @keyup.delete="handleDelete" name="Password" id="Password"></div>
        <button type="button" @click="handleSubmit">送出</button>
    </div>

    <script>
        var vm=new Vue({
            el:"#app",
            data:{
                uname:"",
                pwd:""
            },
            methods:{
                handleSubmit:function(){
                    console.log("UserName："+this.uname,"Password："+this.pwd);
                },
                handleEnter:function(){
                    console.log("UserName："+this.uname,"Password："+this.pwd);
                },
                handleDelete:function(event){
                    if (event.target.name=="UserName"){
                        this.uname="";
                    }else if (event.target.name=="Password"){
                        this.pwd="";
                    }
                }
            }
        });
    </script>

    <hr>
    <img src="./images/10.1.png" alt="">
    <img src="./images/10.2.png" alt="">
    <img src="./images/10.3.png" alt="">
</body>
</html>